body{
    margin: 0;
}
.games-month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
.games-month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.games-month-items{
    display: flex;
    gap: 50px;
    font-size: 25px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0033cc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section img {
    width: 500px;
    height: auto;
    border-radius: 30px;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #fff;
    color: #001f73;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f1f1f1;
}